.col-md-8.col-md-offset-2.col-xs-12
  .panel.panel-info
    .panel-heading
      %h4 
        = @ticket.name
        | by - 
        = @ticket.ticket_informant.email
    .panel-body
      %h4 
        = @ticket.title
      %p
        = @ticket.description