@media (-webkit-device-pixel-ratio: 2) {

}

.common-container {
  min-height: calc( 100vh - 72px );
  display: flex;
  align-items: center;
}

body {
  font-family: 'Quicksand', sans-serif !important;
}

.tickets_show {
  padding: 0 !important;
}